<!DOCTYPE html>
<html>
    <head>
        <% content_for :title, "1000&ONE" %>
        <%= render 'shared/header' %>
    </head>
  
    <body id="mainbody">
        <div class="row" id="backing">
            <div class="col-md-12">
                <h1>1000</h1>
                <h1>&ONE</h1>
            </div>
            
        </div>   
        
        <div id="home">
            <div class="row" id="triangle">
                <svg class="svg-angle" viewBox="0 0 50 50" preserveAspectRatio="none">
                    <polygon points="50,0 0,50 50,50" fill="#f2f2f2"></polygon>
                </svg>
            </div>
            
            <div class="row" id="random">
                <button type="button" class="btn btn-default my-btn">Show Random</button>
            </div>
            
            <div class="row" id="list">
                <table class='table my-tbl'>
                    <% @albums.each do |album| %>
                        <tr>
                            <td><img class="img-responsive img-thumbnail" src=<%= album.album_art_url_med%> </td>
                            <td><h3><%= album.artist%></h3></td>
                            <td><h3><%= album.name%></h3></td>
                        </tr>
                    <% end %>
                </table>
            </div>
            
            <div class="row" id="random">
                <ul class="pagination">
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">6</a></li>
                    <li><a href="#">7</a></li>
                    <li><a href="#">8</a></li>
                    <li><a href="#">9</a></li>
                    <li><a href="#">10</a></li>
                </ul>
            </div>
        </div>
    </body>
  
</html>




