<h1>Listing articles</h1>
 
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>
 
  <% @albums.each do |album| %>
    <tr>
      <td><%= album.id %></td>
      <td><%= album.name %></td>
    </tr>
  <% end %>
</table>