@import "bootstrap-sprockets";
@import "bootstrap";


/*-- FONT --*/

@font-face {
  font-family:'suisse';
  src:font-url('Suisse-R.woff2') format('woff2');
  
}

h1, h2, h3, p, tr, td {
  font-family: 'suisse';
}

/*-- SVG --*/

.svg-angle {
    font-size: 100px;
    bottom: 100%;
    height: 100%;
    width: 100%;
    left: 0;
}

/*-- ELIMINATE SCROLLING --*/
html, body {
    max-width: 100%;
    overflow-x: hidden;
}


/*-- BACKGROUND --*/
#home {
    background-color: #10DDC2;
    h1 {
      text-align:center;
    }
    
}

#logo-box {
  height: 90vh;
}

#logo {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#triangle {
    height: 10vh;
}
