@import "bootstrap-sprockets";
@import "bootstrap";


/*-- FONT --*/

@font-face {
  font-family:'suisse';
  src:font-url('Suisse-R.woff2') format('woff2');
  
}

h1, h2, h3, h4, p, tr, td {
  font-family: 'suisse';
  color: #f24040;
}

/*-- SVG --*/

.svg-angle {
  font-size: 100px;
  bottom: 100%;
  height: 100%;
  width: 100%;
  left: 0;
}

/*-- ELIMINATE HORIZ SCROLLING --*/
html, body {
  max-width: 100%;
  overflow-x: hidden;
}



/*-- LANDING PAGE --*/


#backing {
  background-image: url(image_path('logo.svg'));
  background-color: #10DDC2;
  height: 90vh;
  h1 {
    display: none;
  }
  /*parallax*/
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

@media (max-width: 978px) {
  #backing {
    background-color: #10DDC2;
    height: 90vh;
  }
}

#art {
  background-color: #10DDC2;
  height: 50vh;

  /*parallax*/
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

#mainbody {
  background-color: #f2f2f2;
}

#triangle {
  height: 10vh;
  background-color:#10DDC2;
}

/*-- RANDOMIZE --*/

#random {
  text-align: center;
  margin: 3%;
}

.my-btn {
  color: #f24040;
  font-family: suisse;
}

/*-- LIST --*/

#list {
  margin-right:5%;
  margin-left:5%;
}

@media (max-width: 978px) {
  #list {
    margin:0;
  }
}

#summary {
  margin-right:10%;
  margin-left:10%;
}

@media (max-width: 978px) {
  #summary {
    margin:0;
  }
}

#title {
  height: 10vh;
}